<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper orange">
            <a href="adminController.php" class="brand-logo center"><i class="material-icons">bubble_chart</i>CUMG</a>
            <a href="../produto/homeController.php" class="brand-logo left"><i class="material-icons">home</i></a>
            <a href="../login/loginController.php?sair=sair&nivel=admin" class="brand-logo right"><i class="material-icons">exit_to_app</i></a>
        </div>
    </nav>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">menu</i>
    </a>
    <ul>
        <li><a class="btn-floating blue" href="addProdutoController.php"><i class="material-icons">add</i></a></li>
        <li><a class="btn-floating green" href="addAdminController.php"><i class="material-icons">person_add</i></a></li>
        <li><a class="btn-floating pink" href="adtrProdutoController.php"><i class="material-icons">list</i></a></li>
        <li><a class="btn-floating purple" href="imprimirRelatorioController.php"><i class="material-icons">print</i></a></li>
    </ul>
</div>