.centralizar{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.centralizarNav{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.pesquisa{
    border-bottom: none !important;
}
.pesquisa:focus{
    border-bottom: none !important;
}


