<div class="col s9 m9 l9">
    <div class="row center">
        <div class="col l8 m8 s8">
            <i class="material-icons large orange-text">account_circle</i>
            <h5><b>#_nome_#</b></h5><br>
            <ul class="collection">
                <li class="collection-item left-align">CPF: #_cpf_#</li>
                <li class="collection-item left-align">Data de nascimento: #_dataNascimento_#</li>
                <li class="collection-item left-align">E-mail: #_email_#</li>
            </ul>
        </div>
    </div>
</div>