<div class="col s4">
    <div class="card orange darken-1">
        <a href="edtEnderecoController.php?id=#_id_#" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">create</i></a>
        <a onclick="apagar('#_id_#');" class="btn-floating halfway-fab waves-effect waves-light red left"><i class="material-icons">delete</i></a>
        <div class="card-content white-text">
            <span class="card-title">#_destinatario_#</span>
            <p>#_endereco_#, #_numero_#<br>#_bairro_# - #_cidade_# - #_estado_#<br>#_cep_#</p>
        </div>
    </div>
</div>
