<li class="collection-item avatar">
    <div class="row">
        <div class="col l10">
            <img src="../images/#_image_#" class="circle">
            <a href="../produto/produtoController.php?id=#_id_#"><h6>#_nomeProduto_#</h6></a><br>
            <p>R$ #_preco_#</p>
        </div>
        <div class="col l2">
            <h6 class="center">Quantidade</h6>
            <input type="hidden" class="id" value="#_id_#">
            <input type="hidden" class="quantidadeProduto" value="#_quantidade_#">
            <input type="hidden" class="precoProduto" value="#_preco_#">
            <ul class="pagination center">
                <li class="active orange darken-1"><a><div class="quantidade">#_quantidade_#</div></a></li>
            </ul>
        </div>
    </div>
</li>

