<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Minha conta</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="../css/materialize.min.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="../css/style.css" rel="stylesheet" type="text/css"/>
         <title>CUMG</title>
        <link rel="shortcut icon" href="../templates/favicon.ico" type="image/x-icon">
    </head>
    <body>
        #_navbar_#
        <div class="row">
            <div class="col s3 m3 l3">
                <div class="collection">
                    <a href="clienteController.php" class="collection-item white-text orange"><i class="material-icons left">account_box</i>Minha Conta</a>
                    <a href="pedidoController.php" class="collection-item orange-text"><i class="material-icons left">local_shipping</i>Meus Pedidos</a>
                    <a href="../produto/favoritoController.php" class="collection-item orange-text"><i class="material-icons left">favorite</i>Lista de Desejos</a>
                    <a href="enderecoController.php" class="collection-item orange-text"><i class="material-icons left">my_location</i>Endereços</a>
                    <a href="clienteEditarController.php" class="collection-item orange-text"><i class="material-icons left">build</i>Alterar informações</a>
                </div>
            </div>
            #_infoCliente_#
        </div>
        #_footer_#
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="../js/materialize.min.js" type="text/javascript"></script>
    </body>
</html>