<li class="collection-item avatar">
    <div class="row">
        <div class="col l2">
            <img src="../images/#_image_#" class="responsive-img" style="max-height: 100px">
        </div>
        <div class="col l6">
            <a href="produtoController.php?id=#_id_#"><h5>#_nomeProduto_#</h5></a>
            <p style="overflow-wrap: break-word" class="truncate">R$ #_preco_#<br>
                #_descricao_#
            </p>
            <input type="hidden" class="id" value="#_id_#">
            <input type="hidden" class="quantidadeProduto" value="#_quantidade_#">
            <input type="hidden" class="precoProduto" value="#_preco_#">
        </div>
        <div class="col l3">
            <h5 class="center">Quantidade</h5>
            <ul class="pagination center">
                <li class="active orange darken-1"><a><div class="quantidade">#_quantidade_#</div></a></li>
                <input type="hidden" class="preco" value="#_preco_#">
            </ul>
        </div>
        <div class="col l1">
            <a id="#_id_#" href="" class="remove"><i class="material-icons red-text small">remove_shopping_cart</i></a>
        </div>
    </div>
</li>

