<div class="col s12 m3">
    <div class="card hoverable">
        <div class="card-image">
            <a id="#_id_#" href="" class="favorito"><i style="padding: 3%;" class="small material-icons right grey-text">#_icon_#</i></a>
            <a href="./produtoController.php?id=#_id_#"><img src="../images/#_image_#"></a>
            <a id="#_id_#" class="add btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
        </div>
        <div class="card-content">
            <p class="truncate">#_nome_#</p>
            <p>R$ #_preco_#</p>
        </div>
    </div>
</div>

