<li class="collection-item avatar">
    <div class="row">
        <div class="col l10">
            <img src="../images/#_image_#" class="circle">
            <a href="produtoController.php?id=#_id_#"><span class="title">#_nomeProduto_#</span></a>
            <p style="overflow-wrap: break-word ">R$ #_preco_#<br>
                #_descricao_#
            </p>
        </div>
        <div class="col l1">
            <a id="#_id_#" href="" class="add"><i class="material-icons green-text small">add_shopping_cart</i></a>
        </div>
        <div class="col l1">
            <a id="#_id_#" href="" class="removeDesejo"><i class="material-icons red-text small">delete</i></a>
        </div>
    </div>
</li>

