<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="./../css/materialize.css"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="./../css/style.css" rel="stylesheet">
        <title>CUMG</title>
        <link rel="shortcut icon" href="../templates/favicon.ico" type="image/x-icon">
    </head>
    <body>
        #_navbar_#
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <ul class="collection">
                        #_lista_#
                        <div class="row">
                            <h5 class="center">Endereço</h5>   
                            #_pedidoAdicionarEndereco_#
                        </div>
                    </ul>
                </div>
                <div class="col s12">
                    <h3 id="total" class="right"></h3>
                </div>
                <div class="col s12">
                    <h5> <a class="btn btn-large waves-effect waves-light orange darken-1 right add">Confirmar Compra<i class="material-icons large right">local_shipping</i></a></h5>
                </div>
            </div>
        </div>
        #_footer_#
        <div id="resposta" class="centralizar"></div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="./../js/materialize.min.js"></script>
        <script type="text/javascript" src="./../js/funcoes.js"></script>
        <script>
            $(document).ready(function () {
                var quantidadeProduto;
                var preco = [];
                var precoProduto;
                var total = 0;
                var idEndereco;
                $(".quantidadeProduto").each(function () {
                    quantidadeProduto = +$(this).val();
                    precoProduto = +$(this).next("input").val();
                    total += quantidadeProduto * precoProduto;
                });
                $("#total").html("Total R$ " + total);
                $('.radio').click(function () {
                    idEndereco = $(this).val();
                });
                $('.add').on("click", function () {
                    var idProduto = [];
                    var quantidade = [];
                    $('.id').each(function () {
                        idProduto.push($(this).val());
                        quantidade.push($(this).parent().parent().find(".quantidade").html());
                        preco.push($(this).parent().parent().find(".preco").val());
                    });
                    var dados = {
                        "action": "create",
                        "idProduto": idProduto,
                        "quantidade": quantidade,
                        "idEndereco": idEndereco,
                        "preco": preco
                    }
                    $.ajax({
                        url: "ajax/pedidoAdicionarAjax.php",
                        dataType: "json",
                        type: "POST",
                        data: dados,
                        beforeSend: function () {
                            $(".container").css("filter", "blur(7px)");
                            $("html").css("cursor", "wait");
                            $("#resposta").html("<div class='preloader-wrapper big active'><div class='spinner-layer spinner-blue-only'><div class='circle-clipper left'><div class='circle'></div></div><div class='gap-patch'><div class='circle'></div></div><div class='circle-clipper right'> <div class='circle'></div> </div> </div> </div>").fadeIn();
                        },
                        success: function (retorno) {
                            if (retorno.error == false) {
                                $("#resposta").html("<h1><blockquote>" + retorno.mensagem + "</blockquote></h1>");
                                window.location.href = "../cliente/homeController.php";
                            } else {
                                $("#resposta").html("<h1><blockquote>" + retorno.mensagem + "</blockquote></h1>");
                            }
                            setTimeout(normalizar, 1500);
                            window.location.href = "homeController.php";
                        }
                    });
                });
            }
            );
        </script>
    </body>
</html>
